extends layout.pug
block content 
    img(src="/img/2.jpg", alt="image")
    p 
    h1 History 
    h2 Since 1961
    center Cooperativa Agrícola de Macedo de Cavaleiros, CRL in operation for over five decades, was formally
    center incorporated on February 27, 1961. Located in Macedo de Cavaleiros, in Vale de Arcas. Its statutes
    center were published in Diário do Governo Nº96 of the III Series on April 22nd, 1961, being subsequently
    center revised and published in Diário da Republica nº152, Série III of June 3rd, 1984. Its social area is
    center limited to the municipality of Macedo de Cavaleiros, and some parishes in the municipality of Mirandela.
    center 13 founding cooperatives were part of its foundation, currently the Agricultural Cooperative of Macedo
    center de Cavaleiros has about 2000 active cooperative members in the sections that it maintains active.
