extends layout.pug
block content
    a.container
    a.row
    img(src="/img/1.jpg" alt="image")
    p
    h1 Cooperativa Agrícola Macedo de Cavaleiros
    h2 Origins
    center City belonging to the district of Bragança, north region and sub-region of Alto
    center Trás-os-Montes with a strong tradition linked to olive growing and wine growing
    center due to the excellence of the region's products.
    p 
    a(class='button' href='/wine' id="btn_wine", style="width: 250px").button.button1 Wine
    a(class='button' href='/oliveoil' id="btn_oliveoil", style="width: 250px").button.button2 Olive Oil 

