extends layout.pug
block content 
    img(src="/img/5.jpg", alt="image")
    p 
    p
    h1 News/Events
    h2 Event Schedule
    h3 16th december || Christmas Dinner
    img(src="/img/jantarnatal.jpg", alt="image", class="eventsimage1")
    img(src="/img/newyear.jpg", alt="image", class="eventsimage2")
    center For employees, partners and friends. Come join us in this merry night and  
    center let's celebrate the most wonderful time of year
    p 
    p 
    p 
    p 
    p 
    p
    p 
    p
    p
    p
    h3 31st december || New Year's Gala 
    center It is that time of the year again, how time goes by... 
    center Let's celebrate together come join us and let's turn the page together!
    p 
    p 
    p 
    p 
    p 
    p
    p 
    p
    p
    p
    