extends layout.pug
block content 
    img(src="/img/3.jpg", alt="image")
    p 
    h1 Wine 
    h2 What's in it? 
    center It is in our cellar that we produce the wine that we sell under the brand name Unamontes. 
    center Built in the sixties it has a capacity for transforming grapes that has shown to 
    center be effective and sufficient for the amounts of delivered grapes.
    img(src="/img/VinhoProduzido1.png", alt="image", class="wineimage1")
    img(src="/img/VinhoProduzido2.png", alt="image", class="wineimage2")
    p
    p
    p
    strong(class="winetext1") Unamontes White Wine   750ML
    p
    h6 It is in our cellar that we produce the wine that we sell under the Unamontes brand.
    h6 Built in the 1960s, it has a capacity for transforming grapes that has proven to be 
    h6 effective and sufficient for the quantities of grapes delivered by its members. 
    p
    h6 Vol. 12%
    p
    p  
    strong(class="winetext2") Unamontes Red Wine Box   5L
    p
    h6 It is in our cellar that we produce the wine that we sell under the Unamontes brand.
    h6 Built in the 1960s, it has a capacity for transforming grapes that has proven to be 
    h6 effective and sufficient for the quantities of grapes delivered by its members. 
    p
    h6 Vol. 12%