@media only screen and (max-width: 575px){
    *{
        margin : 0;
        padding: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    header 
    {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .open-button {
        background-color: #24301e;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 200px;
    }
      
      /* The popup chat - hidden by default */
    .chat-popup 
    {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 500px;
        width: 300px;
        padding: 10px;
        background-color: white;
    }
    
      /* When the textarea gets focus, do something */
      .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
    }
      
      /* Set a style for the submit/send button */
      .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: rgb(157, 10, 10);
      }
      
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
    
    ul  
    {
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    
    nav 
    {
        background: #517240;
        padding: 20px;
        margin-bottom: -5px;
        margin-top: -10px;
    }

    .topnav {
    max-width: 100%;
    overflow: hidden;
    background-color: #e9e9e9;
    position: absolute;
    height: 20px;
    font-size: 10px;
    width: 50px;
    left: 380px;
    top: 15px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }


    ul li
    {
        list-style: none;    
    }
    
    a
    {
        border-radius: 50px;
    }
    
    .img1
    {
        width:450px; 
        height:250px;
        position: absolute;
        top:130%;
        left:35.5%;
    }

    li a
    {
        text-decoration: none;
        margin: 10px;
        padding : 10px;
        color : rgb(0, 0, 0);
        font-size: 10px;
    }
    
    li a:hover
    {
        text-decoration: none;
        color:rgb(255, 255, 255);
        margin: 10px;
        padding: 10px;
    }
    
    img
    {
        max-width: 100%;
        width: 100%;
    }

    .eventsimage1
    {
        max-width: 100%;
        width:380px;
        height:180px;
        position: absolute;
        top:75%;
        left:12%;
    }

    .eventsimage2
    {
        max-width: 100%;
        width:380px; 
        height:180px; 
        position: absolute; 
        top:133%; 
        left: 12%;
    }

    .azeiteimage1
    {
        max-width: 100%;
        width:0px;
        height:0px; 
        position: absolute; 
        top:120%; 
        left: 42%;
    }

    .azeiteimage2
    {
        max-width: 100%;
        width:0px;
        height:0px;
        position: absolute; 
        top:139%; 
        left:15%;
    }

    .wineimage1
    {
        max-width: 100%;
        width:0px;
        height:0px; 
        position: absolute; 
        top: 90%; 
        left: 35%;
    } 

    .wineimage2
    {
        max-width: 100%;
        width: 0px;
        height:0px;
        position: absolute; 
        top:105%; 
        left: 10%;
    }
    
    p
    {
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    
    
    h1
    {
        font-size: 35px;
        color: white;
        position: absolute;
        top: 20%;
        left: 55%;
        transform: translate(-50%, -50%);
    }


    .frequently
{
    font-size: 18px;
    color: black;
    position: absolute;
    top: 35px;
    left: 120px;
}

.question1
{
    font-size: 15px;
    color: #517240;
    position: absolute;
    top: 80px;
    left: 33px;
}

.question2
{
    font-size: 15px;
    color: #517240;
    position: absolute;
    top: 150px;
    left: 33px;   
}

.answer1
{
    color:rgb(62, 62, 62);
    font-size: 10px;
    position: absolute;
    top: 110px;
    left: 50px;
}

.answer2
{
    color:rgb(62, 62, 62);
    font-size: 10px;
    text-align: justify;
    position: relative;
    top: 70px;
    left: 40px;
}

center
{
    font-size: 10px;
}
    
    h2
    {
        position: relative;
        margin: 50px;
        text-align: center;
        color:#273620;
    }
    
    h3
    {
        margin: 50px;
        text-align: center;
        color:black;
        font-size: 10px;
    }
    
    h4
    {
        text-align: center;
        font-size: 16px;
    }
    
    h5
    {
        text-align: center;
        font-size: 8px;
    }
    
    h6
    {
        position: relative;
        padding-left: 50px;
        font-size: 10px; 
    }

    .olivetext1
    {
        position: absolute;
        left: 190px;
        top: 535px;
        font-size: 12px;
    }
    
    .olivetext2
    {
        position: absolute;
        left: 180px;
        top: 915px;
        font-size: 12px;
    }

    .winetext1
    {
        position: absolute;
        left: 150px;
        top: 500px;
        font-size: 12px;
    }
    
    .winetext2
    {
        position: absolute;
        left: 150px;
        top: 710px;
        font-size: 12px;
    }

    footer
    {
        color: white;
        font-size: 14px;
        margin-top: 100px;
    }

    .faqs
    {
        font-size: 0px;
        position: relative;
        left: 675px;
        top: -15px;
    }

    
    body 
    {
        background: #fff3b598;
    }
    
    input
    {
        align-self: center;
    }
    
    .button 
    {
        border: none;
        color: black;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 1px 1px;
        cursor: pointer;
        text-align: center;
        margin: auto;
        display: grid;
    
    }
    
    .button1
    {
        background-color: #517240;
        box-sizing: border-box;
    }
    .button2 
    {
        background-color: #517240;
        margin-top: 20px;
        content: 50px, 50px;
    }
    
    .button:hover
    {
        color: white;
    }

    .buttonbuywine1
{
    position: absolute;
    background-color: #517240;
    margin: 5px;
    width: 50px;
    top: 620px;
    left: 200px;
    font-size: 12px;
}

.buttonbuywine2
{
    position: absolute;
    background-color: #517240;
    margin: 5px;
    width: 50px;
    top: 820px;
    left: 200px;
    font-size: 12px;
}

.buttonbuyoliveoil1
{
    position: absolute;
    background-color: #517240;
    margin: 5px;
    width: 50px;
    top: 835px;
    left: 200px;
    font-size: 12px;
}

.buttonbuyoliveoil2
{
    position: absolute;
    background-color: #517240;
    margin: 5px;
    width: 50px;
    top: 1100px;
    left: 200px;
    font-size: 12px;
}

    .logo
    {
        position: absolute;
        top: 15px;
        left: 20px;
        width:80px; 
        height:50px; 
        
    }
    
    .instagrambtn
    {
        max-width: 100%;
        position: absolute;
        top: 18px;
        left: 440px;
        height: 15px;
        width: 15px;
    }

    .facebookbtn
    {
        max-width: 100%;
        position: absolute;
        top: 15px;
        left: 455px;
        height: 20px;
        width: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    *{
        margin : 0;
        padding: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    header 
    {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .open-button {
        background-color: #24301e;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 200px;
    }
      
      /* The popup chat - hidden by default */
    .chat-popup 
    {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 500px;
        width: 300px;
        padding: 10px;
        background-color: white;
    }
    
      /* When the textarea gets focus, do something */
      .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
    }
      
      /* Set a style for the submit/send button */
      .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: rgb(157, 10, 10);
      }
      
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
    
    ul  
    {
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    
    nav 
    {
        background: #517240;
        padding: 20px;
        margin-bottom: -5px;
        margin-top: -10px;
    }

    .topnav {
    max-width: 100%;    
    overflow: hidden;
    background-color: #e9e9e9;
    position: absolute;
    height: 20px;
    font-size: 10px;
    width: 100px;
    left: 570px;
    top: 15px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }


    ul li
    {
        list-style: none;    
    }
    
    a
    {
        border-radius: 50px;
    }
    
    .img1
    {
        width:450px; 
        height:250px;
        position: absolute;
        top:130%;
        left:35.5%;
    }

    li a
    {
        text-decoration: none;
        margin: 10px;
        padding : 10px;
        color : rgb(0, 0, 0);
        font-size: 10px;
    }
    
    li a:hover
    {
        text-decoration: none;
        color:rgb(255, 255, 255);
        margin: 10px;
        padding: 10px;
    }
    
    img
    {
        max-width: 100%;
        width: 100%;
    }

    .eventsimage1
    {
        max-width: 100%;
        width:450px;
        height:250px;
        position: absolute;
        top:90%;
        left:21%;
    }

    .eventsimage2
    {
        max-width: 100%;
        width:450px; 
        height:250px; 
        position: absolute; 
        top:152%; 
        left: 21%;
    }

    .azeiteimage1
    {
        max-width: 100%;
        width:100px;
        height:100px; 
        position: absolute; 
        top:100%; 
        left: 5%;
    }

    .azeiteimage2
    {
        max-width: 100%;
        width:120px;
        height:150px;
        position: absolute; 
        top:156%; 
        left:6%;
    }

    .wineimage1
    {
        max-width: 100%;
        width:130px;
        height:120px; 
        position: absolute; 
        top: 90%; 
        left: 7%;
    } 

    .wineimage2
    {
        max-width: 100%;
        width:150px;
        height:150px;
        position: absolute; 
        top:120%; 
        left: 3%;
    }
    
    p
    {
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    
    
    h1
    {
        font-size: 35px;
        color: white;
        position: absolute;
        top: 30%;
        left: 55%;
        transform: translate(-50%, -50%);
    }

    center
    {
        font-size: 14px;
    }

    .frequently
{
    font-size: 18px;
    color: black;
    position: absolute;
    top: 35px;
    left: 120px;
}

.question1
{
    font-size: 15px;
    color: #517240;
    position: absolute;
    top: 80px;
    left: 33px;
}

.question2
{
    font-size: 15px;
    color: #517240;
    position: absolute;
    top: 150px;
    left: 33px;   
}

.answer1
{
    color:rgb(62, 62, 62);
    font-size: 10px;
    position: absolute;
    top: 110px;
    left: 50px;
}

.answer2
{
    color:rgb(62, 62, 62);
    font-size: 10px;
    text-align: justify;
    position: relative;
    top: 70px;
    left: 40px;
}
    
    h2
    {
        position: relative;
        margin: 50px;
        text-align: center;
        color:#273620;
    }
    
    h3
    {
        margin: 50px;
        text-align: center;
        color:black;
    }
    
    h4
    {
        text-align: center;
        font-size: 16px;
    }
    
    h5
    {
        text-align: center;
        font-size: 10px;
    }
    
    h6
    {
        position: relative;
        padding-left: 170px;
        font-size: 12px; 
    }
    
    .olivetext1
    {
        position: absolute;
        left: 170px;
        top: 660px;
        font-size: 15px;
    }
    
    .olivetext2
    {
        position: absolute;
        left: 170px;
        top: 1090px;
        font-size: 15px;
    }

    .winetext1
    {
        position: absolute;
        left: 170px;
        top: 615px;
        font-size: 15px;
    }
    
    .winetext2
    {
        position: absolute;
        left: 170px;
        top: 835px;
        font-size: 15px;
    }

    footer
    {
        color: white;
        font-size: 14px;
        margin-top: 100px;
    }

    .faqs
    {
        font-size: 0px;
        position: relative;
        left: 675px;
        top: -15px;
    }

    
    body 
    {
        background: #fff3b598;
    }
    
    input
    {
        align-self: center;
    }
    
    .button 
    {
        border: none;
        color: black;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        margin: auto;
        display: grid;
    
    }
    
    .button1
    {
        background-color: #517240;
        box-sizing: border-box;
    }
    .button2 
    {
        background-color: #517240;
        margin-top: 20px;
        content: 50px, 50px;
    }
    
    .button:hover
    {
        color: white;
    }

    .buttonbuywine1
{
    position: absolute;
    background-color: #517240;
    margin: 10px;
    width: 80px;
    top: 735px;
    left: 540px;
    font-size: 12px;
}

.buttonbuywine2
{
    position: absolute;
    background-color: #517240;
    margin: 10px;
    width: 80px;
    top: 960px;
    left: 540px;
    font-size: 12px;
}

.buttonbuyoliveoil1
{
    position: absolute;
    background-color: #517240;
    margin: 10px;
    width: 60px;
    top: 1000px;
    left: 540px;
    font-size: 12px;
}

.buttonbuyoliveoil2
{
    position: absolute;
    background-color: #517240;
    margin: 10px;
    width: 60px;
    top: 1260px;
    left: 540px;
    font-size: 12px;
}

    .logo
    {
        position: absolute;
        top: 15px;
        left: 20px;
        width:130px; 
        height:88px; 
        
    }
    
    .instagrambtn
    {
        max-width: 100%;
        position: absolute;
        top: 15px;
        left: 680px;
        height: 20px;
        width: 20px;
    }

    .facebookbtn
    {
        max-width: 100%;
        position: absolute;
        top: 10.25px;
        left: 700px;
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width: 992px){
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header 
{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.open-button {
    background-color: #24301e;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 80%;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 500px;
    width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgb(157, 10, 10);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


ul  
{
    display: flex;
    justify-content: center;
    align-items: center;    
}

nav 
{
    background: #517240;
    padding-bottom: 15px;
    padding-top: 30px;
    margin-bottom: 0px;
    margin-top: -20px;
}

.topnav {
    max-width: 100%;
    overflow: hidden;
    background-color: #e9e9e9;
    position: absolute;
    height: 20px;
    font-size: 14px;
    width: 130px;
    left: 1250px;
    top: 15px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 500px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }

ul li
{
    list-style: none;    
}

a
{
    border-radius: 50px;   
}

li a
{
    text-decoration: none;
    margin: 10px;
    padding : 20px;
    color : rgb(0, 0, 0);
    font-size: 16px;

}

li a:hover
{
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
}

img
{
    max-width: 100%;
    width: 100%;
}

.eventsimage1
{
    max-width: 100%;
    width:450px;
    height:250px;
    position: absolute;
    top:124%;
    left:35.5%;
}

.eventsimage2
{
    max-width: 100%;
    width:450px; 
    height:250px; 
    position: absolute; 
    top:186%; 
    left: 35.5%;
}

.azeiteimage1
{
    max-width: 100%;
    width:170px;
    height:170px; 
    position: absolute; 
    top:130%; 
    left: 22%;
}

.azeiteimage2
{
    max-width: 100%;
    width:170px;
    height:170px;
    position: absolute; 
    top:182%; 
    left: 25%;
}

.wineimage1
{
    max-width: 100%;
    width:160px;
    height:160px; 
    position: absolute; 
    top:122%; 
    left: 28%;
}

.wineimage2
{
    max-width: 100%;
    width:170px;
    height:170px;
    position: absolute; 
    top:152%; 
    left: 26%;
}

p
{
    text-align: center;
    padding: 10px;
    margin: 10px;
}


center
{
    font-size: 16px;
}

h1
{
    font-size: 65px;
    color: white;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.frequently
{
    font-size: 18px;
    color: black;
    position: absolute;
    top: 35px;
    left: 120px;
}

.question1
{
    font-size: 15px;
    color: #517240;
    position: absolute;
    top: 80px;
    left: 33px;
}

.question2
{
    font-size: 15px;
    color: #517240;
    position: absolute;
    top: 150px;
    left: 33px;   
}

.answer1
{
    color:rgb(62, 62, 62);
    font-size: 10px;
    position: absolute;
    top: 110px;
    left: 50px;
}

.answer2
{
    color:rgb(62, 62, 62);
    font-size: 10px;
    text-align: justify;
    position: relative;
    top: 70px;
    left: 40px;
}

h2
{
    position: relative;
    margin: 50px;
    text-align: center;
    color:#273620;
}

h3
{
    margin: 50px;
    text-align: center;
    color:black;
}

h4
{
    text-align: center;
    font-size: 16px;
}

h5
{
    text-align: center;
    font-size: 10px;
}

h6
{
    position: relative;
    padding-left: 600px;
    font-size: 12px; 
}

.olivetext1
{
    position: absolute;
    left: 0px;
    top: 330px;
    font-size: 15px;
}
    
.olivetext2
{
    position: absolute;
    left: 0px;
    top: 750px;
    font-size: 15px;
}

.winetext1
{
    position: absolute;
    left: 0px;
    top: 270px;
    font-size: 15px;
}
    
.winetext2
{
    position: absolute;
    left: 0px;
    top: 500px;
    font-size: 15px;
}


strong
{
    margin: 600px;
    font-size: 15px;
}

footer
{
    color: white;
    font-size: 14px;
    margin-top: 100px;
}

.faqs
{
    font-size: 0px;
    position: relative;
    left: 1075px;
    top: -21px;
}

body 
{
    background: #fff3b598;
}

input
{
    align-self: center;
}

.button {
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    display: grid;

  }

.button1
{
    background-color: #517240;
    box-sizing: border-box;
}
.button2 
{
    background-color: #517240;
    margin-top: 20px;
    content: 50px, 50px;
}

.button:hover
{
    color: white;
}

.buttonbuywine1
{
    position: absolute;
    background-color: #517240;
    margin: 10px;
    width: 80px;
    top: 990px;
    left: 990px;
    font-size: 12px;
}

.buttonbuywine2
{
    position: absolute;
    background-color: #517240;
    margin: 10px;
    width: 80px;
    top: 1200px;
    left: 990px;
    font-size: 12px;
}

.buttonbuyoliveoil1
{
    position: absolute;
    background-color: #517240;
    margin: 10px;
    width: 80px;
    top: 1270px;
    left: 990px;
    font-size: 12px;
}

.buttonbuyoliveoil2
{
    position: absolute;
    background-color: #517240;
    margin: 10px;
    width: 80px;
    top: 1480px;
    left: 990px;
    font-size: 12px;
}

.logo
{
    position: absolute;
    top: 10px;
    width:160px; 
    height:110px;
    left: 35px;
    
}

.instagrambtn
{
    max-width: 100%;
    position: absolute;
    top: 12.6px;
    left: 1430px;
    height: 22px;
    width: 22px;
}

.facebookbtn
{
    max-width: 100%;
    position: absolute;
    top: 8px;
    left: 1450px;
    height: 30px;
    width: 30px;
}
}

