doctype html
html(lang="en")
    head
    body 
         footer
            nav 
                ul
                    li 
                        br Cooperativa Agrícola Macedo de Cavaleiros 
                        br Schedule 
                        br Monday - Friday | 9:00 - 12:30 | 14:00 - 17:30
                        br
                        br Lugar de Vale de Arcas, Apartado 3, Macedo de Cavaleiros
                        br +351 968 149 658 | + 351 278 421 145
                        h4 geral@cooperativa-macedo.pt
                        //nao interess