doctype html
html(lang="en")
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Cooperativa Agricola Macedo de Cavaleiros
        link(rel="stylesheet", href="../css/main.css")
        a(href="/")
            img(src= "../img/logo.png" alt="image", id= "over", class="logo")   
            
body
        header 
            nav 
                ul 
                    li 
                        a(href="/") Home 
                    li 
                        a(href="/wine") Wine
                    li  
                        a(href="/oliveoil") Olive Oil
                    li 
                        a(href="/newevents") News
                    li
                        input(type='text', placeholder='Search..', class="topnav")

                    
            block content                 
            button.open-button(onclick='openForm()') FAQs
            #myForm.chat-popup
                form.form-container(action='/action_page.php')
                    h1(class="frequently") Frequently Asked Questions
                        h5(class="question1") Where can I find your products?
                            h5(class="answer1") You can find them in specific stores...
                    p 
                    p 
                    p 
                                h5(class="question2") When can I visit?
                                    h5(class="answer2") Currently we only host visits during  
                                    h5(class="answer2") certain seasons.                                                                    
                    p 
                    p 
                    p
                    button.btn.cancel(type='button', onclick='closeForm()') Close
            script.
                function openForm() {
                document.getElementById("myForm").style.display = "block";
                }
                function closeForm() {
                document.getElementById("myForm").style.display = "none";
                }
      
        footer
            nav
                ul
                    li 
                        h5 Schedule 
                        h5 Monday - Friday >> 9:00 - 12:30 | 14:00 - 17:30
                        br
                        h5 Lugar de Vale de Arcas, Apartado 3, Macedo de Cavaleiros
                        h5 +351 968 149 658 | + 351 278 421 145
                        h5 geral@cooperativa-macedo.pt
                        br
                        h5 Cooperativa Agrícola Macedo Cavaleiros © 2022
                
                
                a(href="https://www.instagram.com/")
                    img(src="../img/instagram.png", alt="image", id="over", class="instagrambtn")
                a(href="https://www.facebook.com/profile.php?id=100069709724133")
                    img(src="../img/facebook.png", alt="image", id="over", class="facebookbtn") 
        
            
            