extends layout.pug
block content 
    img(src="../img/5.jpg", alt="image")
    p 
    p
    h1 News/Events
    h2 Event Schedule
    h3 16th december || Christmas Dinner
    img(src="../img/jantarnatal.jpg", alt="image", class="eventsimage1", title="Back at the headquarters around 21:30, see you there!")
    img(src="../img/newyear.jpg", alt="image", class="eventsimage2", title="Back at the headquarters around 21:30, see you there!")
    center For employees, partners and friends. Come join us in this merry night and  
    center let's celebrate the most wonderful time of year
    br 
    br 
    br 
    br 
    p 
    p 
    p 
    p
    p
    p
    h3 31st december || New Year's Gala 
    center It is that time of the year again, how time goes by... 
    center Let's celebrate together come join us and let's turn the page together!
    br 
    br
    br 
    br 
    br 
    br
    br 
    p 
    p 
    p



