extends layout.pug
block content 
    img(src="../img/4.jpg", alt="image")
    p 
    h1 Olive Oil 
    h2 What's In it?
    center Equipped with modern equipment, we have an olive reception line, with a leaf remover,
    center washing machine and continuous weighing scale. The main olive varieties delivered by
    center the cooperative are the Verdeal Transmontana, Madural and Cobrançosa varieties, all of
    center which are characteristic varieties of the Trás-os-Montes region. It is these varieties
    center that give the organoleptic characteristics to the olive oil of our region and they are
    center the green, bitter and spicy flavor and at a chemical level low acidity values.
    img(src="../img/AzeiteProduzido2.png", alt="image", class="azeiteimage1")
    img(src="../img/AzeiteProduzido1.png", alt="image", class="azeiteimage2")
    p
    p
    p
    strong(class="olivetext1") Azibo Olive Oil   5L
    p
    h6 The extra virgin olive oil of the brand "CAMC"* is obtained only through mechanical
    h6 processes, without additives or preservatives. This high quality olive oil has been
    h6 awarded a Gold Medal in well-known international olive oil competitions. 
    p
    h6 Olive variety: Cobrançosa, Verdeal and Madural.
    p 
    h6 Colour: greenish yellow Acidity: 0.3% Flavor and aroma: very fresh fruity flavor, in
    h6 a harmonious combination between bitter and spicy. 
    h6 Its chemical characteristics are in accordance with Regulation (EC) n°2568/91 and
    h6 subsequent amendments.
    p
    p  
    strong(class="olivetext2") Azibo Olive Oil   500ML
    p
    h6 Olive variety: Cobrançosa, Verdeal and Madural.
    p 
    h6 Color: greenish yellow
    p 
    h6 Acidity: 0.3% 
    